flows.json
[{"id":"dcc70beb1de50fc2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cc012e4e4ec2a03f","type":"group","z":"dcc70beb1de50fc2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0932e1f709d96902","ba46085dc970aae4"],"x":754,"y":319,"w":272,"h":142},{"id":"c544c297d6e9661f","type":"group","z":"dcc70beb1de50fc2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5da04406dfb3f624","133d817f724e41cb"],"x":744,"y":479,"w":292,"h":162},{"id":"fbb00af0ea6a5db9","type":"inject","z":"dcc70beb1de50fc2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[["fa32633b4e9d70a5"]]},{"id":"e1fd1297c12eac77","type":"http request","z":"dcc70beb1de50fc2","name":"Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":520,"y":500,"wires":[["10ce8e1e03acea74"]]},{"id":"fa32633b4e9d70a5","type":"change","z":"dcc70beb1de50fc2","name":"league-cup-group-a","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["e1fd1297c12eac77"]]},{"id":"5da04406dfb3f624","type":"comment","z":"dcc70beb1de50fc2","g":"c544c297d6e9661f","name":"ADD Variavel CLassification","info":"va","x":890,"y":520,"wires":[]},{"id":"10ce8e1e03acea74","type":"function","z":"dcc70beb1de50fc2","name":"function 7","func":"// output1 -> Games today \n// output2 -> Classification \n\nconst months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nconst weekday = [\"Sun\", \"Mon\", \"Tues\", \"Wed\", \"Thurs\", \"Fri\", \"Sat\"];\n\nfunction padTo2Digits(num) {\n    return num.toString().padStart(2, '0');\n}\n\nfunction formatDate(date) {\n    return [\n        date.getFullYear(),\n        padTo2Digits(date.getMonth() + 1),\n        padTo2Digits(date.getDate()),\n    ].join('-');\n}\n\nfunction convertdate(dateStr) {\n\n    let origString = String(dateStr);\n    let stringToAdd = \"-\";\n    let indexPosition = 4;\n\n    let newString = origString.slice(0, indexPosition) + stringToAdd + origString.slice(indexPosition);\n\n    indexPosition = 7;\n    newString = newString.slice(0, indexPosition) + stringToAdd + newString.slice(indexPosition);\n\n    stringToAdd = ' ';\n    indexPosition = 10;\n    newString = newString.slice(0, indexPosition) + stringToAdd + newString.slice(indexPosition);\n\n    stringToAdd = ':';\n    indexPosition = 13;\n    newString = newString.slice(0, indexPosition) + stringToAdd + newString.slice(indexPosition);\n\n    stringToAdd = ':';\n    indexPosition = 16;\n    newString = newString.slice(0, indexPosition) + stringToAdd + newString.slice(indexPosition);\n\n    return newString;\n}\n\n\nconst anow = formatDate(new Date());\nconst mydate = new Date(anow);\n\n\nlet payloadjson = JSON.parse(msg.payload);\nlet stages = payloadjson.Stages[0];\nlet events = stages.Events;\nlet leagueTable = '';\n\ntry {\n    leagueTable = stages.LeagueTable.L[0].Tables[0].team;\n}\ncatch (err) {\n    leagueTable = '';\n}\n//let jornada = 14;\n//let aresult = events.filter(el => el.Ern === jornada);\n\n\nlet games = {\n    'Stg': stages.Sdn,\n    'StgImg': 'https://static.livescore.com/i2/fh/' + stages.Ccd + '.jpg',\n    'today': anow,\n    'weekday': [],\n}\n\nlet aglobalEid = [];\nlet id = 0;\n\nfor (let i = 0; i < 5; i++) {\n    let d = new Date();\n    d.setDate(d.getDate() + i);\n\n    let myday = d.getDate()\n    let aweekday = weekday[d.getDay()];\n    console.log(aweekday);\n\n    let mymonth = (d.getMonth());\n    let myyear = d.getFullYear();\n\n\n    var rv = {\n        'name': aweekday,\n        'adate': myday + ' ' + months[mymonth],\n        'games': [],\n\n    };// create a new array\n    games.weekday[i] = rv;\n\n    mymonth = (d.getMonth() + 1);\n\n\n    let adate = myyear + '-' + mymonth + '-' + myday;\n\n    for (let e = 0; e < events.length; e++) {\n\n        var myevents = events[e];\n        let myeventsDateTime = convertdate(myevents.Esd);\n        myeventsDateTime = myeventsDateTime.split(/ /);\n        var myeventsDate = myeventsDateTime[1].split(/:/);\n\n        if (String(adate) === String(myeventsDateTime[0])) {\n\n\n            let varteamsStruct = {\n                'hour': myeventsDate[0] + ':' + myeventsDate[1],\n                't1': myevents.T1[0].Nm,\n                'Tr1': myevents.Tr1,\n                't1Img': 'https://lsm-static-prod.livescore.com/medium/' + myevents.T1[0].Img,\n                't2': myevents.T2[0].Nm,\n                't2Img': 'https://lsm-static-prod.livescore.com/medium/' + myevents.T2[0].Img,\n                'Tr2': myevents.Tr2,\n                'Eid': myevents.Eid,\n                'Eps': myevents.Eps,\n            };\n\n            games.weekday[i].games.push(varteamsStruct);\n\n            //LIVE???    \n            if (varteamsStruct.Eps != 'FT') {\n\n                aglobalEid[id] = 'https://prod-public-api.livescore.com/v1/api/app/match-x/soccer/' + varteamsStruct.Eid + '/0?MD=1';\n                //global.set(team.Eid, gamesTodayStruct);\n                id++;\n\n            }\n\n        }\n\n    }\n}\nglobal.set(\"Eid\", aglobalEid);\n\n\n\n\n//------------------\n// Classificação \n//-----------------\n\nvar classificacao = {\n    'classificacao': [],\n    'updatedOn': anow\n}\n\nfor (var i = 0; i < leagueTable.length; i++) {\n    var temp = leagueTable[i];\n\n    var classificacaoInfo = {\n        'pos': temp.rnk,\n        'equipa': temp.Tnm,\n        'jogos': temp.pld,\n        'vitorias': temp.win,\n        'empates': temp.drw,\n        'Derrotas': temp.lst,\n        'GM': temp.gf,\n        'GS': temp.ga,\n        'DG': temp.gd,\n        'Pontos': temp.ptsn,\n        'Img': 'https://lsm-static-prod.livescore.com/medium/' + temp.Img\n\n    };\n\n    classificacao.classificacao.push(classificacaoInfo);\n}\n\n\n\n\nreturn [{ 'payload': games }, { 'payload': classificacao }];\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":500,"wires":[["0932e1f709d96902"],["133d817f724e41cb"]]},{"id":"133d817f724e41cb","type":"ha-sensor","z":"dcc70beb1de50fc2","g":"c544c297d6e9661f","name":"Classificacao","entityConfig":"f58ee525508322fc","version":0,"state":"payload.updatedOn","stateType":"msg","attributes":[{"property":"classificacao","value":"payload.classificacao","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":860,"y":600,"wires":[[]]},{"id":"0932e1f709d96902","type":"ha-sensor","z":"dcc70beb1de50fc2","g":"cc012e4e4ec2a03f","name":"Allgames","entityConfig":"57ede2a64afd0f53","version":0,"state":"payload.today","stateType":"msg","attributes":[{"property":"weekday","value":"payload.weekday","valueType":"msg"},{"property":"Stg","value":"payload.Stg","valueType":"msg"},{"property":"StgImg","value":"payload.StgImg","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":880,"y":420,"wires":[[]]},{"id":"f91579cf5e72483b","type":"http request","z":"dcc70beb1de50fc2","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://www.livescore.com/api/leftmenu/soccer/portugal","tls":"","persist":true,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":true,"headers":[{"keyType":"other","keyValue":"","valueType":"other","valueValue":""}],"x":310,"y":180,"wires":[["144caeaa0b744a31"]]},{"id":"6f71ef96d6a1f744","type":"json","z":"dcc70beb1de50fc2","name":"","property":"payload","action":"","pretty":false,"x":610,"y":180,"wires":[["6bb21951e7159c30"]]},{"id":"144caeaa0b744a31","type":"gzip","z":"dcc70beb1de50fc2","name":"","x":470,"y":180,"wires":[["6f71ef96d6a1f744"]]},{"id":"6bb21951e7159c30","type":"function","z":"dcc70beb1de50fc2","name":"function 8","func":"\n/*\nhttps://prod-public-api.livescore.com/v1/api/app/stage/soccer/portugal/league-cup-play-off/0?MD=1\n*/\n\nconst anow = new Date();\nlet leagues = {\n    'leagues': msg.payload,\n    'today': anow,\n\n}\n\nreturn [{ 'payload': leagues },null];\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":180,"wires":[["60cfe6f3e088c788"]]},{"id":"60cfe6f3e088c788","type":"ha-sensor","z":"dcc70beb1de50fc2","name":"leagues","entityConfig":"f5ee0f5f48715f92","version":0,"state":"null","stateType":"str","attributes":[{"property":"leagues","value":"payload.leagues","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":900,"y":180,"wires":[[]]},{"id":"fcd32a805765dc58","type":"server-state-changed","z":"dcc70beb1de50fc2","name":"LeaguesSelected","server":"97033d39.2965b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.leagues","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":420,"wires":[["587c7a6ac4f080b2"]]},{"id":"587c7a6ac4f080b2","type":"switch","z":"dcc70beb1de50fc2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":420,"wires":[["cac09a6bae3f1004"],[]]},{"id":"cac09a6bae3f1004","type":"function","z":"dcc70beb1de50fc2","name":"function 9","func":"let league = msg.data.new_state.attributes.league;\nlet s = league.replace(/%s/g, 'soccer');\n\nlet urlleague = 'https://prod-public-api.livescore.com/v1/api/app/stage' + s + '0?MD=1';\n\n\nmsg.payload = urlleague;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":400,"wires":[["fa32633b4e9d70a5"]]},{"id":"9eb1ca2b3f1ab84d","type":"http in","z":"dcc70beb1de50fc2","name":"Ha Start","url":"/hastart","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["f91579cf5e72483b"]]},{"id":"ba46085dc970aae4","type":"comment","z":"dcc70beb1de50fc2","g":"cc012e4e4ec2a03f","name":"ADD Variavel gamesToday","info":"va","x":890,"y":360,"wires":[]},{"id":"f58ee525508322fc","type":"ha-entity-config","server":"97033d39.2965b","deviceConfig":"","name":"Classificacao","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Classificacao"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"57ede2a64afd0f53","type":"ha-entity-config","server":"97033d39.2965b","deviceConfig":"","name":"Allgames","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Allgames"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f5ee0f5f48715f92","type":"ha-entity-config","server":"97033d39.2965b","deviceConfig":"","name":"leagues","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Leagues"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"97033d39.2965b","type":"server","name":"HomeAssistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]